* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Delicious Handrawn', cursive;
}
body{
    position: relative;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
height: 96.5vh;

}
.upperheader{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    padding-right: 5rem;
}

.upperheader p{
    font-size: 2.5rem;
}
.lose{
    border-radius: 1rem;
    border: 1px solid rgb(1, 53, 83);
    position: absolute;
    top: 5px;
    transform: translateY(-250px);
    /* display:none; */
    left: 560px;
    height: 200px;
    width: 400px;

    /* background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
/* background-color: #0093E9;
background-image: linear-gradient(370deg, #0093E9 0%, #80D0C7 100%); */

background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);


}

.lose p{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    
}

.y{
    margin-left: 8rem;
}
 .lose p.x{
    display: inline-block;
    
 }
.lose button{
    margin-top: 1rem;
    margin-left: 9.5rem;
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    border-radius: 16px;
}
.lose button:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.win{
    border-radius: 1rem;
    border: 1px solid rgb(1, 53, 83);
    position: absolute;
    top: 5px;
    transform: translateY(-250px);
    /* display:none; */
    left: 560px;
    height: 200px;
    width: 400px;

    /* background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
/* background-color: #0093E9;
background-image: linear-gradient(370deg, #0093E9 0%, #80D0C7 100%); */

background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);


}

.win p{
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
}

.win button{
    margin-top: 2rem;
    margin-left: 9.5rem;
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    border: none;
    border-radius: 16px;
}
.win button:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.header p{
    font-size: 3rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    
}
/* --------------------------------------- */
button.letter{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 2rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* ----------------------------------------- */

button-30 {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }

  .button-30:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  }

  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  .button-30:active {
    /* box-shadow: #d6d6e7 0 3px 7px inset; */
    transform: translateY(2px);
  }




/* !----------------------------------------------- */
button.letter:hover{
    background-color: rgb(200, 200, 200);
    cursor:pointer;

}


.ahmet{
    
    /* background-color: red;
    color: coral; */
    outline: 3px solid red;
    
    
}

.ahmet2{
 display:block;
 transition: all 1s;
 transform: translateY(10px);
 
}


.ahmet3{
    display: none;
}